.maincontainer {
  display: flex;
  background-color: rgba(0, 0, 0, 0.95);
  position: relative;
  width: 100%;
}

.sidebar::-webkit-scrollbar {
  width: 7px;
}

hr {
  opacity: 0.2;
  margin: 20px 0;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
}

.hero_section {
  margin-left: 5%;
  background-color: rgba(0, 0, 0, 0.95);
  flex: 1;
  height: 100%;
}

.hero_section_sidebar {
  margin-left: 14%;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 0 10px;
  flex: 1;
  height: 100%;
}
.container {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  
}

* {
  margin: 0;
  padding: 0;
}

.sidebar {

  margin: 10px 0 0 0;
  height: 80vh;
  position: fixed;
  z-index: 100;
  color: rgba(255, 255, 255, 0.85);
  overflow: auto;
  padding: 0 1rem 100px 0.5rem;
  width: 12%;
  transition: all 500ms ease-out 1s;
}

.sidebar_row {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 1rem;
  padding: 0 0 0 1rem;
  cursor: pointer;
  transition: all 50ms ease-out 10ms;
}

.sidebar_row:hover {
  background-color: rgba(211, 211, 211, 0.1);
}

.sidebar_row p {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 400;
}

.mini_sidebar {
  width: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: fixed;
}

.box_row {
  height: 60px;
  width: 90%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  margin: 5px;
  border-radius: 10px;
  flex-direction: column;
  gap: 2px;
}

.box_row p {
  font-size: 10px;
  font-weight: 500;
}

.box_row:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.sidebar_row:focus {
  background-color: rgba(211, 211, 211, 0.425);
}

.sidebar_row img {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.videocard {
  display: flex;
}

.heading {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 5px;
  margin: 8px 0;
  padding: 0 0 0 1rem;
}

.heading h4 {
  font-size: 16px;
  font-weight: 550;
}

.icon {
  /* height: 20px;
  width: 20px; */
  font-size: 23px;
  color: white;
}

.recommended {
  display: flex;
  margin-bottom: 20px;
  position: fixed;
  top: calc(height(header));
  color: rgba(255, 255, 255, 0.5);
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
}

.item {
  height: 15px;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.13);
  margin: 10px;
  padding: 10px;
  border-radius: 7px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.item h5 {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.85);
}

.Skeleton {
  height: 300px;
  width: 32.5%;
  min-width: 250px;
  border-radius: 10px;
  margin-bottom: 30px;
  font-weight: 400;
  
}


.box1 {
  height: 70%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.box2 {
  height: 30%;
  width: 100%;
  display: flex;
}
 .row {
  height: 25px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 12px;
  border-radius: 2px;
} 
.circle {
  height: 36px;
  width: 36px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin: 15px 0 0 10px;
}

.circle-box {
  display: flex;
  height: 100%;
  width: 20%;
} 

.rectangular-box {
  height: 100%;
  width: 80%;
  background-color: transparent;
} 

 .row2 {
  height: 22px;
  width: 40%;
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
  margin: 12px;
  border-radius: 2px;
}

@media screen and (max-width:1000px) {
  .Skeleton {
    height: 300px;
    width: 40%;
    
  }
}

@media screen and (max-width: 800px) {
  .hero_section {
    margin-left: 1%;
    flex: 1;
    width: 100%;
  }
  .hero_section_sidebar {
    margin-left: 1%;
    flex: 1;
    width: 100%;
  }
  .container {
    width: 100%;
    flex: 1;
    margin-top: 10px;
  }

  .sidebar {
    display: none;
  }
  .mini_sidebar{
    display: none;
  }
  .recommended {
    display: none;
  }
  .Skeleton {
    height: 300px;
    width: 49%;
    
  }
  
}

@media screen and (max-width: 600px) {
  .Skeleton {
    width: 70%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .Skeleton {
    width: 100%;
    height: 270px;
    margin-bottom: 5px;
  }
}