body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(0, 0, 0, 0.95);
  /* overflow: hidden; */
}

.App {
  background-color: rgba(66, 63, 63, 0.95);
  /* height: 100dvh; */
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.7);
  
}
